<!doctype html>
<html>
<head>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/adapterjs/0.14.3/adapter.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webshim/1.16.0/dev/polyfiller.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="/scripts/dist/SocketConnectionManager.js"></script>
<script src="/scripts/dist/PeerConnectionManager.js"></script>
<script src="/scripts/dist/SocketConnection.js"></script>
<script src="/scripts/dist/PeerConnection.js"></script>
<script src="/scripts/dist/Conversation.js"></script>
<script src="/scripts/htmlHelperFunctions.js"></script>
<script src="/scripts/rtcHelperFunctions.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/styles/flat.css">
<link rel="stylesheet" type="text/css" href="/styles/theme.css">
</body>
</html>
