<!doctype html>
<hmtl>
    <head>
        <% include partials/resources.ejs %>
        <title> Testseite </title>
    </head>
    <body>
    <% include partials/navigation.ejs %>
    <% include partials/header.ejs %>
    <main>
        <div class="name-box">
            Gebe dir zum chatten einen Namen.
            <% if(users.length > 0){ %>
            Folgende Namen sind bereits vergeben:
            <ul>
                <% for(var i = 0; i < users.length; i++){ %>
                <li> <%= users[i] %></li>
                <% }%>
            </ul>
            <% } %>
            <form action="/name" method="post">
                <input type="text" class="textinput<% if(errors.length > 0){ %> false-input<% } %>" placeholder="Name" <% if(user){ %>value="<%= user %>" <% } %> name="user">
                <button type="submit" class="button"> weiter </button>
            </form>
            <% if(errors.length > 0){ %>
            <ul>
                <% for(var i = 0; i < errors.length; i++){ %>
                <li><%= errors[i] %></li>
                <% } %>
            </ul>
            <% } %>
        </div>
    </main>
    </body>
</hmtl>